html {
  box-sizing: border-box;
	height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	height: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
}

.app {
	display: flex;
	flex-direction: column;
	height: 100%;
	color: #000;
}